<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="IChatMessageMapper">
    <select id="selectList" resultType="org.kidscafe.kindy.dto.ChatDTO$MessageDTO">
        SELECT CHAT_ID, NUM, TYPE, CONTENT, ROLE, CREATED_AT
        FROM T_CHAT_MESSAGE
        WHERE CHAT_ID = #{chatId}
        <if test="minNum != null">
            AND NUM &#x3E;= #{minNum}
        </if>
        <if test="maxNum != null">
            AND NUM &#x3C;= #{maxNum}
        </if>
        <if test="minTimestamp != null">
            AND CREATED_AT &#x3E;= #{minTimestamp}
        </if>
        <if test="maxTimestamp != null">
            AND CREATED_AT &#x3C;= #{maxTimestamp}
        </if>
    </select>

    <select id="select" resultType="org.kidscafe.kindy.dto.ChatDTO$MessageDTO">
        SELECT CHAT_ID, NUM, TYPE, CONTENT, ROLE, CREATED_AT
        FROM T_CHAT_MESSAGE
        WHERE CHAT_ID = #{chatId} AND NUM = #{num}
    </select>

    <insert id="insert">
        INSERT INTO T_CHAT_MESSAGE(CHAT_ID, NUM, TYPE, CONTENT, ROLE)
        VALUES (#{chatId}, #{num}, #{type}, #{content}, #{role})
    </insert>

    <delete id="delete">
        DELETE FROM T_CHAT_MESSAGE
        WHERE CHAT_ID = #{chatId} AND NUM = #{num}
    </delete>
</mapper>