<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kidscafe.kindy.mapper.IFamilyMapper">
    <select id="selectList" resultType="FamilyDTO">
        SELECT PARENT, CHILD, UNIX_TIMESTAMP(CREATED_AT) * 1000 CREATED_AT
        FROM T_FAMILY
        WHERE PARENT = #{parent} OR CHILD = #{child}
    </select>

    <select id="select" resultType="FamilyDTO">
        SELECT PARENT, CHILD, UNIX_TIMESTAMP(CREATED_AT) * 1000 CREATED_AT
        FROM T_FAMILY
        WHERE PARENT = #{parent} AND CHILD = #{child}
    </select>

    <insert id="insert">
        INSERT INTO T_FAMILY(PARENT, CHILD)
        VALUES (#{parent}, #{child})
    </insert>

    <delete id="delete">
        DELETE FROM T_FAMILY
        WHERE PARENT = #{parent} AND CHILD = #{child}
    </delete>
</mapper>