<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kidscafe.kindy.mapper.IInviteMapper">
    <select id="getInfo" resultType="InviteDTO">
        SELECT ID, KINDERGARTEN_ID, USER_ID, INVITER_ID, TYPE, ROLE_ID, DIRECTION, STATUS, UNIX_TIMESTAMP(CREATED_AT) * 1000 CREATED_AT, UNIX_TIMESTAMP(UPDATED_AT) * 1000 UPDATED_AT
        FROM T_INVITE
        WHERE ID = #{id}
    </select>

    <select id="getListByKindergarten" resultType="InviteDTO">
        SELECT ID, KINDERGARTEN_ID, USER_ID, INVITER_ID, TYPE, ROLE_ID, DIRECTION, STATUS, UNIX_TIMESTAMP(CREATED_AT) * 1000 CREATED_AT, UNIX_TIMESTAMP(UPDATED_AT) * 1000 UPDATED_AT
        FROM T_INVITE
        WHERE KINDERGARTEN_ID = #{kindergartenId} AND STATUS = 'PENDING'
    </select>

    <select id="getListByUser" resultType="InviteDTO">
        SELECT I.ID, I.KINDERGARTEN_ID, K.NAME KINDERGARTEN_NAME, I.USER_ID, I.INVITER_ID, I.TYPE, I.ROLE_ID, I.DIRECTION, I.STATUS, UNIX_TIMESTAMP(I.CREATED_AT) * 1000 CREATED_AT, UNIX_TIMESTAMP(I.UPDATED_AT) * 1000 UPDATED_AT
        FROM T_INVITE I
        JOIN T_KINDERGARTEN K ON K.ID = I.KINDERGARTEN_ID
        WHERE I.USER_ID = #{userId} AND I.STATUS = 'PENDING'
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO T_INVITE(KINDERGARTEN_ID, USER_ID, INVITER_ID, TYPE, ROLE_ID, DIRECTION, STATUS)
        VALUES (#{kindergartenId}, #{userId}, #{inviterId}, #{type}, #{roleId}, #{direction}, 'PENDING')
    </insert>

    <update id="updateStatus">
        UPDATE T_INVITE
        SET STATUS = #{status}
        WHERE ID = #{id}
    </update>
</mapper>
