<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kidscafe.kindy.mapper.INoticeMapper">
    <select id="getNoticeList" parameterType="NoticeDTO" resultType="NoticeDTO">
        SELECT KINDERGARTEN_ID, NUM, TITLE, PINNED, UNIX_TIMESTAMP(UPDATED_AT) * 1000 UPDATED_AT
        FROM T_NOTICE
        WHERE KINDERGARTEN_ID = #{kindergartenId}
        ORDER BY PINNED DESC, NUM DESC
    </select>

    <insert id="insertNotice" parameterType="NoticeDTO">
        INSERT INTO T_NOTICE(KINDERGARTEN_ID, NUM, TITLE, PINNED, CONTENT, AUTHOR)
        VALUES (#{kindergartenId}, (SELECT IFNULL(MAX(N.NUM), 0) + 1 FROM T_NOTICE N WHERE N.KINDERGARTEN_ID = #{kindergartenId}), #{title}, #{pinned}, #{content}, #{author})
    </insert>

    <select id="getNotice" resultType="NoticeDTO">
        SELECT KINDERGARTEN_ID, NUM, TITLE, CONTENT, AUTHOR, CONTENT, PINNED, UNIX_TIMESTAMP(CREATED_AT) * 1000 CREATED_AT, UNIX_TIMESTAMP(UPDATED_AT) * 1000 UPDATED_AT, COALESCE(
            (SELECT NICKNAME FROM T_RELATIONSHIP R WHERE R.KINDERGARTEN_ID = #{kindergartenId} AND AUTHOR = R.USER_ID),
            (SELECT NAME FROM T_USER U WHERE U.ID = AUTHOR)
        ) AUTHOR_NAME
        FROM T_NOTICE
        WHERE KINDERGARTEN_ID = #{kindergartenId} AND NUM = #{num}
    </select>

    <update id="updateNotice" parameterType="NoticeDTO">
        UPDATE T_NOTICE
        SET TITLE = #{title}, PINNED = #{pinned}, CONTENT = #{content}
        WHERE KINDERGARTEN_ID = #{kindergartenId} AND NUM = #{num}
    </update>

    <delete id="deleteNotice" parameterType="NoticeDTO">
        DELETE FROM T_NOTICE
        WHERE KINDERGARTEN_ID = #{kindergartenId} AND NUM = #{num}
    </delete>
</mapper>