<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="IRelationshipMapper">
    <select id="getExists" resultType="RelationshipDTO">
        SELECT COUNT(*) > 0 AS `EXISTS`
        FROM T_RELATIONSHIP
        WHERE KINDERGARTEN_ID = #{kindergartenId}
          AND USER_ID = #{userId}
    </select>

    <select id="getList" resultType="RelationshipDTO">
        SELECT USER_ID, TYPE, NICKNAME
        FROM T_RELATIONSHIP
        WHERE KINDERGARTEN_ID = #{kindergartenId}
    </select>

    <select id="getInfo" resultType="RelationshipDTO">
        SELECT KINDERGARTEN_ID, USER_ID, TYPE, ROLE_ID, NICKNAME, UNIX_TIMESTAMP(CREATED_AT) * 1000 CREATED_AT, UNIX_TIMESTAMP(UPDATED_AT) * 1000 UPDATED_AT
        FROM T_RELATIONSHIP
        WHERE KINDERGARTEN_ID = #{kindergartenId}
          AND USER_ID = #{userId}
    </select>

    <insert id="insert">
        INSERT INTO T_RELATIONSHIP(KINDERGARTEN_ID, USER_ID, TYPE)
        VALUES (#{kindergartenId}, #{userId}, #{type})
    </insert>

    <update id="updateRole">
        UPDATE T_RELATIONSHIP
        SET ROLE_ID = #{roleId}
        WHERE KINDERGARTEN_ID = #{kindergartenId}
          AND USER_ID = #{userId}
    </update>

    <update id="updateNickname">
        UPDATE T_RELATIONSHIP
        SET NICKNAME = #{nickname}
        WHERE KINDERGARTEN_ID = #{kindergartenId}
          AND USER_ID = #{userId}
    </update>

    <delete id="delete">
        DELETE FROM T_RELATIONSHIP
        WHERE KINDERGARTEN_ID = #{kindergartenId}
          AND USER_ID = #{userId}
    </delete>
</mapper>