<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kidscafe.kindy.mapper.IUserMapper">
    <select id="getIdExists" parameterType="UserDTO" resultType="UserDTO">
        SELECT COUNT(*) > 0 AS `EXISTS`
        FROM T_USER
        WHERE ID = #{id}
    </select>

    <select id="getEmailExists" parameterType="UserDTO" resultType="UserDTO">
        SELECT COUNT(*) > 0 AS `EXISTS`
        FROM T_USER
        WHERE EMAIL = #{email}
    </select>

    <insert id="insertUser" parameterType="UserDTO">
        INSERT INTO T_USER
        (ID,
         NAME,
         PASSWORD,
         PASSWORD_SALT,
         EMAIL,
         ADDRESS,
         ADDRESS_DETAIL,
         POSTCODE)
        VALUES (#{id},
                #{name},
                #{password},
                #{passwordSalt},
                #{email},
                #{address},
                #{addressDetail},
                #{postcode})
    </insert>

    <select id="getLogin" parameterType="UserDTO" resultType="UserDTO">
        SELECT ID, NAME, PASSWORD, PASSWORD_SALT
        FROM T_USER
        WHERE ID = #{id}
    </select>

    <select id="getId" parameterType="UserDTO" resultType="UserDTO">
        SELECT ID, NAME, EMAIL
        FROM T_USER
        WHERE NAME = #{name}
          AND EMAIL = #{email}
        <if test="id neq null and id neq '' ">
          AND ID = #{id}
        </if>
    </select>

    <update id="updatePassword" parameterType="UserDTO">
        UPDATE T_USER
        SET PASSWORD = #{password}, PASSWORD_SALT = #{passwordSalt}
        WHERE ID = #{id}
    </update>

    <update id="updateEmail" parameterType="UserDTO">
        UPDATE T_USER
        SET EMAIL = #{email}
        WHERE ID = #{id}
    </update>

</mapper>