<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kidscafe.kindy.mapper.IUserMapper">
    <resultMap id="UserMap" type="UserDTO">
        <id property="id" column="C_ID" />
        <result property="name" column="C_NAME" />
        <result property="password" column="C_PASSWORD" />
        <result property="addr1" column="C_ADDR1" />
        <result property="addr2" column="C_ADDR2" />
        <result property="registerDate" column="C_REGISTER_DATE" />
        <result property="exists" column="C_EXISTS" />
    </resultMap>

    <select id="getIdExists" parameterType="UserDTO" resultMap="UserMap">
        SELECT COUNT(*) > 0 AS C_EXISTS
        FROM T_USER
        WHERE C_ID = #{id}
    </select>

    <select id="getEmailExists" parameterType="UserDTO" resultMap="UserMap">
        SELECT COUNT(*) > 0 AS C_EXISTS
        FROM T_USER
        WHERE C_EMAIL = #{email}
    </select>

    <insert id="insertUser" parameterType="UserDTO">
        INSERT INTO T_USER
        (C_ID,
         C_NAME,
         C_PASSWORD,
         C_EMAIL,
         C_ADDR1,
         C_ADDR2,
         C_REGISTER_DATE)
        VALUES (#{id},
                #{name},
                #{password},
                #{email},
                #{addr1},
                #{addr2},
                SYSDATE())
    </insert>

    <select id="getLogin" parameterType="UserDTO" resultMap="UserMap">
        SELECT C_ID, C_NAME, C_EMAIL
        FROM T_USER
        WHERE C_ID = #{id}
          AND C_PASSWORD = #{password}
    </select>

    <select id="getId" parameterType="UserDTO" resultMap="UserMap">
        SELECT
        C_ID,
        C_NAME,
        C_EMAIL
        FROM T_USER
        WHERE USER_NAME = #{name}
            AND EMAIL = #{email}
        <if test="userId neq null and userId neq '' ">
            AND USER_ID = #{id}
        </if>
    </select>

    <update id="updatePassword" parameterType="UserDTO">
        UPDATE T_USER
        SET C_PASSWORD = #{password}
        WHERE C_ID = #{id}
    </update>
</mapper>