<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kidscafe.kindy.mapper.IUserMapper">
    <select id="getIdExists" resultType="UserDTO">
        SELECT COUNT(*) > 0 AS `EXISTS`
        FROM T_USER
        WHERE ID = #{id}
    </select>

    <select id="getEmailExists" resultType="UserDTO">
        SELECT COUNT(*) > 0 AS `EXISTS`
        FROM T_USER
        WHERE EMAIL = #{email}
    </select>

    <insert id="insertUser">
        INSERT INTO T_USER
        (ID,
         NAME,
         PASSWORD,
         PASSWORD_SALT,
         EMAIL,
         PHONE,
         ADDRESS,
         ADDRESS_DETAIL,
         POSTCODE,
         ACCOUNT_TYPE,
         BIRTH_DATE,
         GENDER,
         GUARDIAN_NAME,
         GUARDIAN_PHONE)
        VALUES (#{id},
                #{name},
                #{password},
                #{passwordSalt},
                #{email},
                #{phone},
                #{address},
                #{addressDetail},
                #{postcode},
                #{accountType},
                #{birthDate},
                #{gender},
                #{guardianName},
                #{guardianPhone})
    </insert>

    <select id="getLogin" resultType="UserDTO">
        SELECT ID, NAME, PASSWORD, PASSWORD_SALT
        FROM T_USER
        WHERE ID = #{id}
    </select>

    <select id="getInfo" resultType="UserDTO">
        SELECT ID, NAME, EMAIL, ADDRESS, ADDRESS_DETAIL, POSTCODE, ACCOUNT_TYPE, BIRTH_DATE, GENDER, GUARDIAN_NAME, GUARDIAN_PHONE, ONBOARDING_COMPLETED, UNIX_TIMESTAMP(CREATED_AT) * 1000 CREATED_AT, UNIX_TIMESTAMP(UPDATED_AT) * 1000 UPDATED_AT
        FROM T_USER
        WHERE ID = #{id}
    </select>

    <update id="updateInfo">
        UPDATE T_USER
        SET ADDRESS = #{address}, ADDRESS_DETAIL = #{addressDetail}, POSTCODE = #{postcode}
        WHERE ID = #{id}
    </update>

    <select id="getId" resultType="UserDTO">
        SELECT ID, NAME, EMAIL
        FROM T_USER
        WHERE NAME = #{name}
          AND EMAIL = #{email}
        <if test="id neq null and id neq '' ">
          AND ID = #{id}
        </if>
    </select>

    <update id="updatePassword">
        UPDATE T_USER
        SET PASSWORD = #{password}, PASSWORD_SALT = #{passwordSalt}
        WHERE ID = #{id}
    </update>

    <update id="updateEmail">
        UPDATE T_USER
        SET EMAIL = #{email}
        WHERE ID = #{id}
    </update>

    <update id="completeOnboarding">
        UPDATE T_USER
        SET ONBOARDING_COMPLETED = TRUE
        WHERE ID = #{id}
    </update>
</mapper>